/*=====================================================================*/
/*    serrano/prgm/project/bigloo/5.0.x/doc/bgldoc.css                 */
/*    -------------------------------------------------------------    */
/*    Author      :  manuel serrano                                    */
/*    Creation    :  Mon Apr 20 16:07:37 2026                          */
/*    Last change :  Sun May 31 09:19:11 2026 (serrano)                */
/*    Copyright   :  2026 manuel serrano                               */
/*    -------------------------------------------------------------    */
/*    Bigloo documentation style                                       */
/*=====================================================================*/

/*---------------------------------------------------------------------*/
/*    Colors and dimensions                                            */
/*---------------------------------------------------------------------*/
:root {
    --bodyColor: #444;
    --background: #fafafa;
    --textShadow: #ccc;
    --titleShadow: #ddd;

    --menuColor: #9d9d9d;
    --menuBackgroundColor: #22222f;
    --menuButtonActiveBackground: #555555;
    --menuButtonActive: #fff;

    --versionColor: #fff;
    --versionBackgroundColor: #777;

    --navMenuBackgroundColor: #33393f;
    --navMenuColor: #9d9d9d;
    --navMenuBorderColor: #777;
    --navHeight: 6ex;
    --navActiveColor: red;

    --homeBackgroundColor: #33393f;
    
    --sectionBorder: #777777;

    --example: #333333;
    
    --functionBackground: #f0f0f0;
    --functionTag: #1467e6;
    --defaultTag: #777;

    --genericColor: #6a5ac9;
    
    --programBackground: #ffffff;
    --programBorder: #eeeeee;
    --programBorderColor: #f91a03;
    --shellBorderColor: #a09103;

    --type: #05ca04;
    --expression: #444;
    --dsssl: #f91a03;

    --code: #1467e6;
    --codeBackground: #efefef;
    --codeBorder: #d2d2d2;

    --result: #d3732a;

    --fontifierString: #f91a03;
    --fontifierSymbol: #f91a03;
    --fontifierDefine: #6a5ac9;
    --fontifierImportant: #fa1a03;
    --fontifierCompilation: #ffa435;
    --fontifierComment: #faa404;

    --bnfBorderColor: #1467e6;
    --fontifierBnfSymbol: #1467e6;
    --fontifierBnfKeyword: #6a5ac9;
    --fontifierBnfTag: #555;
    --fontifierBnfDefine: #111;
    --fontifierBnfArrow: #555;

    --fontifierShellPrompt: #fa1a03;
    
    --lispBorderColor: #14e667;
    
    --chapterTocLinkColor: #777;
    --chapterTocBackground: #fff;
    --chapterTocBorder: #d2d2d2;

    --hoverColor: #f91a03;

    --blockquoteBackground: #efefef;
    --blockquoteBorder: #ffd33a;

    --CBackend: #e6383c;
    --jvmBackend: #f6a70e;
    --wasmBackend: #4887ee;
}

/*---------------------------------------------------------------------*/
/*    fonts                                                            */
/*---------------------------------------------------------------------*/
@font-face {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/glyphicons-halflings-regular.ttf");
}

/*---------------------------------------------------------------------*/
/*    Main body                                                        */
/*---------------------------------------------------------------------*/
body {
    background: var(--background);
    font-family: "Helvetica Neue", "Hevetica", Arial, sans-serif;
    font-size: 16px;
    color: var(--bodyColor);
}

/*---------------------------------------------------------------------*/
/*    navigation                                                       */
/*---------------------------------------------------------------------*/
nav.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--navHeight);
    color: var(--menuColor);
    background: var(--menuBackgroundColor);
    font-size: 120%;
    padding-top: 0;
    z-index: 2;
}

div.menu {
    position: relative;
    cursor: pointer;
    height: 100%;
    background: var(--menuBackgroundColor);
}

.menu div.title {
    display: inline-block;
    height: 3em;
    float: left;
    font-size: 160%;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 2em;
    margin-right: 1em;
    width: 8em;
 }

.menu div.title .main {
    text-transform: capitalize;
    color: var(--navActiveColor);
    margin-right: 0.2em;
    font-size: 105%;
}

.menu div.title .sep {
    margin-right: 0.2em;
}

.menu a {
    color: var(--navMenuColor);
    text-decoration: none;
}

.menu a > span:before {
    font-family: icons;
    font-size: 80%;
    margin-right: 0.3em;
}

.menu a.home > span:before {
    content: "\e021";
}

.menu a.lang span:before {
    content: "\e218";
}

.menu a.libs span:before {
    content: "\e043";
}

.menu img.logo {
    width: 3em;
    height: 3em;
    float: left;
    margin: 0 0 0 1em;
}

.menu .version:before {
    content: "version ";
}

.menu .version {
    color: var(--versionColor);
    background-color: var(--versionBackgroundColor);
    font-weight: bold;
    border-radius: 0.2em;
    position: absolute;
    right: 3em;
    top: 1ex;
    padding: 0.5em;
    font-size: 90%;
}

ul.menu {
    float: left;
    margin: 0;
    list-style: none;
}

ul.menu > li.navbutton {
    float: left;
    position: relative;
    display: block;
    border-bottom: 3px solid transparent;
    height: calc(100% - 3px);
}

.menu[data-active="libs"] a.libs,
.menu[data-active="lang"] a.lang {
    color: var(--menuButtonActive);
}

ul.menu[data-active="libs"] > li.navbutton.libs,
ul.menu[data-active="lang"] > li.navbutton.lang {
    border-bottom-color: var(--navActiveColor);
    background-color: var(--menuButtonActiveBackground);
}

ul.menu > li > a {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1.5ex;
    display: inline-block;
}

div.nav-menu {
    position: fixed;
    top: calc(var(--navHeight) - 0ex);
    width: 30em;
    height: 400px;
    background-color: var(--navMenuBackgroundColor);
    border: 1px solid var(--navMenuBorderColor);
    z-index: 2;
    font-size: 100%;
    opacity: 0.9;
    column-width: 12em;
    column-gap: 2em;
    column-rule: 1px solid #ccc;
    padding: 1ex;
    visibility: hidden;
}

ul.menu > li.navbutton > a.submenu:after {
    content: "\25be";
    font-weight: bold;
    margin-left: 5px;
}

body[open="lang"] ul.menu > li.navbutton.lang > a.submenu:after,
body[open="libs"] ul.menu > li.navbutton.libs > a.submenu:after {
    content: "\25b4";
    color: var(--hoverColor);
}

body[open="lang"] li.lang > div.nav-menu,
body[open="libs"] li.libs > div.nav-menu {
    visibility: visible;
    z-index: 2;
}

div.nav-menu ul {
    padding-left: 0;
}

div.nav-menu li {
    list-style: none;
    margin-left: 0;
}

div.nav-menu a {
    color: var(--navMenuColor);
    text-decoration: none;
}

div.nav-menu a:hover {
    color: var(--hoverColor);
}

/*---------------------------------------------------------------------*/
/*    home                                                             */
/*---------------------------------------------------------------------*/
html.home body {
    margin: 0;
}

html.home nav.menu div.title {
    visibility: hidden;
}

div.home {
    background: var(--homeBackgroundColor);
    width: 100%;
    padding: 2ex 3em 2ex 3em;
    margin-top: var(--navHeight);
    color: var(--background);
    z-index: 0;
    position: relative;
}

div.home .logo {
    width: 12em;
    height: 12em;
    vertical-align: middle;
}

div.home .main {
    font-size: 500%;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 1em;
    position: relative;
    top: 0.5ex;
    color: var(--navActiveColor);
}

/*---------------------------------------------------------------------*/
/*    Chapters and Sections                                            */
/*---------------------------------------------------------------------*/
.chapter {
    margin-top: 1ex;
}

h1 {
    text-shadow: var(--titleShadow) 1px 1px 1px;
    margin-top: 2em;
    margin-bottom: 1em;
    padding-bottom: 4px;
    padding-top: 4px;
    border-top: 1px solid var(--sectionBorder);
    border-bottom: 1px solid var(--sectionBorder);
    counter-reset: subsection;
    counter-increment: section;
}

h4.section, h2 {
    margin-top: 2ex;
    margin-bottom: 1em;
    border-bottom: 1px dashed var(--sectionBorder);
    text-shadow: var(--textShadow) 1px 1px 1px;
    counter-reset: subsubsection;
    counter-increment: subsection;
    font-weight: normal;
    font-size: 1.5em;
}

h4.section:before, h2:before{
    content: counter(subsection) ". ";
}

h4.section {
    color: inherit;
}

h4.section:after {
    content: "";
}

/*---------------------------------------------------------------------*/
/*    functions ...                                                    */
/*---------------------------------------------------------------------*/
h3 {
    background-color: var(--functionBackground);
    font-family: monospace;
    font-size: 105%;
    font-weight: normal;
    margin-top: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
}

h3.function span.generic {
    color: var(--genericColor);
    font-weight: bold;
}

h3.variable span.backends,
h3.function span.backends {
    font-size: 65%;
    margin-left: 0.5em;
    margin-right: 0.8em;
}

h3.variable span.icons,
h3.function span.icons {
    color: var(--functionTag);
    font-family: icons;
    margin-left: 0.4em;
}

h3 span.icons.C {
    color: var(--CBackend);
}

h3 span.icons.jvm {
    color: var(--jvmBackend);
}

h3 span.icons.wasm {
    color: var(--wasmBackend);
}

h3 .definition {
    font-weight: bold;
}

h2 + h3 {
    margin-top: 0;
}
/*---------------------------------------------------------------------*/
/*    identifiers                                                      */
/*---------------------------------------------------------------------*/
span.type {
    color: var(--type);
    font-weight: bold;
}

span.argument,
span.argument + span.type {
    font-style: italic;
}

span.expression {
    color: var(--expression);
}

span.dsssl {
    color: var(--dsssl);
}

/*---------------------------------------------------------------------*/
/*    Programs, examples, and codes                                    */
/*---------------------------------------------------------------------*/
h4 {
    color: var(--example);
    font-weight: normal;
}

h4:after {
    content: ": ";
}

pre {
    font-family: Bitstream Vera Sans Mon, Andale Mon, Monospace, DejaVu Sans Mono, monospace;
    background-color: var(--programBackground);
    border: 1px solid var(--programBorder);
    border-left: 2px solid;
    padding: 0.5em;
    overflow-x: auto;
    font-size: 90%;
}

code {
    padding: 2px 2px;
    font-size: 95%;
    color: var(--code);
}
		   
.result {
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: var(--result);
    font-weight: bold;
    font-size: 130%;
}

.result-value {
    font-style: italic;
    color: var(--result);
}

/*---------------------------------------------------------------------*/
/*    fontification                                                    */
/*---------------------------------------------------------------------*/
pre.test,
pre.example,
pre.bigloo {
    border-left-color: var(--programBorderColor);
}
    
pre .fontifier-prog-reserved {
    font-weight: bold;
}

pre .fontifier-prog-type {
    font-weight: bold;
    color: var(--type);
}

pre .fontifier-prog-string {
    color: var(--fontifierString);
}

pre .fontifier-prog-define {
    color: var(--fontifierDefine);
    font-weight: bold;
}

pre .fontifier-prog-important {
    color: var(--fontifierImportant);
    font-weight: bold;
}

pre .fontifier-prog-symbol {
    color: var(--fontifierSymbol);
}

pre .fontifier-prog-line-comment {
    color: var(--fontifierComment);
    font-weight: bold;
}

pre .fontifier-prog-compilation {
    background-color: var(--fontifierCompilation);
    color: white;
    border-radius: 2px;
    font-weight: bold;
    padding: 0 1px;
}

/*---------------------------------------------------------------------*/
/*    shell                                                            */
/*---------------------------------------------------------------------*/
pre.shell {
    border-left-color: var(--shellBorderColor);
}
    
pre.shell span.fontifier-prog-server {
    font-weight: normal;
    color: var(--fontifierShellPrompt);
}

/*---------------------------------------------------------------------*/
/*    Lisp ...                                                         */
/*---------------------------------------------------------------------*/
pre.lisp {
    border-left-color: var(--lispBorderColor);
}
    

/*---------------------------------------------------------------------*/
/*    bnf                                                              */
/*---------------------------------------------------------------------*/
pre.bnf {
    border-left-color: var(--bnfBorderColor);
    font-size: 90%;
}

pre.bnf span,
pre.bnf .fontifier-prog-symbol {
    color: var(--fontifierBnfSymbol);
}

pre.bnf .ebnf-tag {
    font-weight: normal;
    color: var(--fontifierBnfTag);
}

pre.bnf .fontifier-prog-define {
    color: var(--fontifierBnfDefine);
}    

pre.bnf .ebnf-meta,
pre.bnf .ebnf-pipe {
    color: var(--hoverColor);
}

pre.bnf .ebnf-arrow {
    color: var(--fontifierBnfArrow);
}

/*---------------------------------------------------------------------*/
/*    Chapter                                                          */
/*---------------------------------------------------------------------*/
.chapter {
    width: 100%;
}

.chapter .body {
    width: 70%;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2ex;
}

.chapter .toc {
    overflow-y: scroll;
    width: 25%;
    position: fixed;
    top: calc(var(--navHeight) + 4ex);
    bottom: 1ex;
    right: 0.2em;
    background: var(--chapterTocBackground);
    border: 1px solid var(--chapterTocBorder);
    font-size: 95%;
}

.chapter .toc a {
    text-decoration: none;
}

.chapter .toc li.section a:hover,
.chapter .toc li.def a:hover {
    color: var(--hoverColor);
}

.chapter .toc ul.sections li.section + li.section {
    margin-top: 1ex;
}

.chapter .toc li.section {
    list-style: none;
}

.chapter .toc li.section > a {
    border-bottom: 1px dashed var(--sectionBorder);
    font-weight: bold;
    color: var(--sectionColor);
}

.chapter .toc li.def {
    white-space: nowrap;
    text-overflow: ellipsis;
    list-style-type: circle;
    color: var(--chapterTocLinkColor);
    margin-top: 2px;
    margin-bottom: 2px;
}

.chapter .toc li.def a {
    color: var(--chapterTocLinkColor);
}

/*---------------------------------------------------------------------*/
/*    Blockquote                                                       */
/*---------------------------------------------------------------------*/
blockquote {
    border-left: 2px solid var(--blockquoteBorder);
    margin-left: 0;
    margin-right: 0;
    padding: 0.4em 0.2em 0.4em 1em;
    font-style: italic;
    background-color: var(--blockquoteBackground);
}
